@using appSchool.Repositories
@using appSchool.ViewModels


@{
    ViewBag.Title = " LFD Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {

}



@section LeftPanelContent {
    @*@Html.Partial("LeftPanelPartial")*@

    @{Html.RenderAction("ReturnLeftPanelView", "LeftAndRightPanel", new { moduleid = (int)appModule.appLfdManager });}

    @*{ @Html.RenderAction("ReturnLeftPanelView", "LeftPanel") }*@
}

@section RightPanelContent {
    @{Html.RenderAction("ReturnRightPanelView", "LeftAndRightPanel");}

}

<h1> LFD Manager Home Page</h1>