@using appSchool.Repositories
@using appSchool.ViewModels


@if (ViewData["ClassIDForStudentPhoto"] == null)
{
    ViewData["ClassIDForStudentPhoto"] = 0;
}

@{ var grid = Html.DevExpress().GridView(
                           settings =>
                           {
                               settings.Name = "GridStudentPhoto"; ////name change this propert to new
                              settings.KeyFieldName = "StudentID";
                               settings.Width = System.Web.UI.WebControls.Unit.Percentage(99);
                              //settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
                              // settings.Caption="Students List for Current Session";
                              settings.CommandColumn.Visible = true;
                               settings.CommandColumn.Width = System.Web.UI.WebControls.Unit.Pixel(40);
                               settings.CommandColumn.ShowSelectCheckbox = true;
                               settings.CommandColumn.ShowClearFilterButton = true;

                               settings.ControlStyle.CssClass = "grid-view"; //add this propert to new
                              settings.Styles.PagerBottomPanel.CssClass = "pager";
                               settings.Styles.FocusedRow.CssClass = "focused";
                               settings.Settings.VerticalScrollBarMode = ScrollBarMode.Hidden;
                               settings.Settings.HorizontalScrollBarMode = ScrollBarMode.Auto;
                               settings.SettingsPager.PageSize = 10;
                              //settings.SettingsPager.EnableAdaptivity = true;
                              //settings.SettingsPager.PageSizeItemSettings.Visible = true;
                              settings.Caption = "Students Photo List";

                               settings.CommandButtonInitialize = (sender, e) =>
                               {
                                   if ((e.ButtonType == ColumnCommandButtonType.PreviewChanges) || (e.ButtonType == ColumnCommandButtonType.Cancel))
                                   {
                                       e.Visible = false;
                                   }
                               };


                               settings.CommandColumn.Caption = "Select";
                               settings.CommandColumn.SetHeaderTemplateContent(c =>
                               {
                                   Html.DevExpress().CheckBox(settingsCheckBox =>
                                   {
                                       settingsCheckBox.Name = "cbSelectAllSS";
                                      // settingsCheckBox.Text = "Select";
                                      settingsCheckBox.Properties.ClientSideEvents.CheckedChanged = string.Format("function(s, e) {{ if(s.GetChecked()) {0}.SelectRows(); else {0}.UnselectRows(); }}", settings.Name);
                                       settingsCheckBox.Checked = c.Grid.VisibleRowCount == c.Grid.Selection.Count;
                                   }).Render();
                               });

                               settings.ClientSideEvents.SelectionChanged = "studentDataExportController.SelectionChanged";

                               settings.CallbackRouteValues = new { Controller = "StudentReportExport", Action = "ListStudentPhotoPartial", PclassID = int.Parse(ViewData["ClassIDForStudentPhoto"].ToString()) };

                              //settings.SettingsEditing.BatchUpdateRouteValues = new { Controller = "StudentSession", Action = "updateStudentSessionAll", PclassSetupID = ViewData["ClassIDForStudentPhoto"] };

                              settings.SettingsEditing.Mode = GridViewEditingMode.Batch;
                               settings.SettingsEditing.BatchEditSettings.EditMode = appSchool.Controllers.GridViewEditingDemosHelper.BatchEditMode;
                               settings.SettingsEditing.BatchEditSettings.StartEditAction = appSchool.Controllers.GridViewEditingDemosHelper.BatchStartEditAction;
                              // settings.SettingsCommandButton.EditButton.ButtonType = GridViewCommandButtonType.Button;

                              settings.SettingsBehavior.ConfirmDelete = true;

                               settings.SettingsPopup.EditForm.ShowHeader = true;



                               settings.Columns.Add(column =>
                               {
                                   column.FieldName = "FullName";
                                   column.Caption = "Birthday List";
                                   column.ColumnType = MVCxGridViewColumnType.TextBox;
                                   column.Width = System.Web.UI.WebControls.Unit.Pixel(200);
                                   column.ReadOnly = true;
                               });

                               settings.SetDataRowTemplateContent(c =>
                               {
                                   ViewContext.Writer.Write(
                                      "<div style=\"padding:2px\">" +
                                          "<table class=\"tblBday\">" +
                                              "<tr> <td class=\"bdphoto\" rowspan=\"4\">"
                                  );

                                   Html.DevExpress().Image(
                                     imageSettings =>
                                        {
                                            imageSettings.Name = "Photo" + DataBinder.Eval(c.DataItem, "StudentID");
                                            if (File.Exists(HttpContext.Current.Request.MapPath("~//Images/Students/" + DataBinder.Eval(c.DataItem, "StudentID") + ".png")))
                                                imageSettings.ImageUrl = Url.Content("~//Images/Students/" + DataBinder.Eval(c.DataItem, "StudentID") + ".png");
                                            else
                                                imageSettings.ImageUrl = Url.Content("~//Images/Students/" + "blank.jpg");
                                            imageSettings.Width = 60;
                                            imageSettings.Height = 70;
                                        })
                                     .GetHtml();


                                   ViewContext.Writer.Write(
                                                  "</td>" +
                                                  "<td >Name:  <span> " + DataBinder.Eval(c.DataItem, "FullName") + " </span> </td>" +

                                                  " </tr><tr><td>Father Name:  <span>" + DataBinder.Eval(c.DataItem, "FatherName") + "</span> </td>" +
                                                  "<td></td>" +
                                              "</tr>" +
                                              "<tr>" +
                                                  "<td class=\"caption\">Class:  <span>" + DataBinder.Eval(c.DataItem, "ClassDescription") + "</span></td>" +
                                                   "</tr> " +
                                          //   "<tr> <td >Age:  <span>" + DataBinder.Eval(c.DataItem, "Age") + "</span></td>" +
                                          //"</tr>" +
                                          //"<tr>" +
                                          //    "<td class=\"caption\">Birth Date</td>" +
                                          //    "<td>" + DataBinder.Eval(c.DataItem, "BirthDate", "{0:d}") + "</td>" +
                                          //    "<td class=\"caption\">Hire Date</td>" +
                                          //    "<td>" + DataBinder.Eval(c.DataItem, "HireDate", "{0:d}") + "</td>" +
                                          //"</tr>" +
                                          //"<tr>" +
                                          //    "<td colspan=\"4\" style=\"white-space:normal\">" + DataBinder.Eval(c.DataItem, "Notes") + "</td>" +
                                          //"</tr>" +
                                          "</table>" +
                                      "</div>"
                                  );
                               });

                              //settings.SetDataRowTemplateContent(c =>
                              //{
                              //    ViewContext.Writer.Write(
                              //        "<div style=\"padding:5px\">" +
                              //            "<table class=\"templateTable\">" +
                              //                "<tr>" +
                              //                    "<td rowspan=\"4\">"
                              //    );
                              //    Html.DevExpress().BinaryImage(imageSettings =>
                              //    {
                              //        imageSettings.Name = "Photo" + DataBinder.Eval(c.DataItem, "StudentID");
                              //        imageSettings.Width = 160;
                              //        imageSettings.Height = 170;
                              //    }).Bind(DataBinder.Eval(c.DataItem, "StudentID") + ".png").Render();
                              //    ViewContext.Writer.Write(
                              //                    "</td>" +
                              //                    "<td class=\"caption\">Namee</td>" +
                              //                    "<td>" + DataBinder.Eval(c.DataItem, "FullName") + "</td>" +
                              //                    "<td class=\"caption\">Father Name:</td>" +
                              //                    "<td>" + DataBinder.Eval(c.DataItem, "FatherName") + "</td>" +
                              //                "</tr>" +
                              //                "<tr>" +
                              //                    "<td class=\"caption\">Class:  </td>" +
                              //                    "<td colspan=\"3\">" + DataBinder.Eval(c.DataItem, "ClassDescription") + "</td>" +
                              //                "</tr>" +
                              //                "</table>" +
                              //        "</div>"
                              //    );
                              //});
                              //  settings.SetDataRowTemplateContent(c =>
                              //  {
                              //      ViewContext.Writer.Write(
                              //         "<div style=\"padding:2px\">" +
                              //             "<table class=\"tblBday\">" +
                              //                 "<tr> <td class=\"bdphoto\" rowspan=\"4\">"
                              //     );

                              //      @Html.DevExpress().Image(
                              //        imageSettings =>
                              //{
                              //    imageSettings.Name = "Photo" + DataBinder.Eval(c.DataItem, "StudentID");
                              //    if (File.Exists(HttpContext.Current.Request.MapPath("~//Images/Students/" + DataBinder.Eval(c.DataItem, "StudentID") + ".png")))
                              //        imageSettings.ImageUrl = Url.Content("~//Images/Students/" + DataBinder.Eval(c.DataItem, "StudentID") + ".png");
                              //    else
                              //        imageSettings.ImageUrl = Url.Content("~//Images/Students/" + "blank.jpg");
                              //    imageSettings.Width = 60;
                              //    imageSettings.Height = 70;
                              //})
                              //        .GetHtml();






                              //      ViewContext.Writer.Write(
                              //                     "</td>" +
                              //                     "<td >Name:  <span> " + DataBinder.Eval(c.DataItem, "FullName") + " </span> </td>" +

                              //                     " </tr><tr><td>Father Name:  <span>" + DataBinder.Eval(c.DataItem, "FatherName") + "</span> </td>" +
                              //                     "<td></td>" +
                              //                 "</tr>" +
                              //                 "<tr>" +
                              //                     "<td class=\"caption\">Class:  <span>" + DataBinder.Eval(c.DataItem, "ClassDescription") + "</span></td>" +
                              //                      "</tr> " +
                              //             //   "<tr> <td >Age:  <span>" + DataBinder.Eval(c.DataItem, "Age") + "</span></td>" +
                              //             //"</tr>" +
                              //             //"<tr>" +
                              //             //    "<td class=\"caption\">Birth Date</td>" +
                              //             //    "<td>" + DataBinder.Eval(c.DataItem, "BirthDate", "{0:d}") + "</td>" +
                              //             //    "<td class=\"caption\">Hire Date</td>" +
                              //             //    "<td>" + DataBinder.Eval(c.DataItem, "HireDate", "{0:d}") + "</td>" +
                              //             //"</tr>" +
                              //             //"<tr>" +
                              //             //    "<td colspan=\"4\" style=\"white-space:normal\">" + DataBinder.Eval(c.DataItem, "Notes") + "</td>" +
                              //             //"</tr>" +
                              //             "</table>" +
                              //         "</div>"
                              //     );
                              //  });


                              //settings.SettingsPager.Position = System.Web.UI.WebControls.PagerPosition.Bottom;
                              //settings.SettingsPager.FirstPageButton.Visible = true;
                              //settings.SettingsPager.LastPageButton.Visible = true;
                              //settings.SettingsPager.PageSizeItemSettings.Visible = true;
                              ////settings.SettingsPager.PageSize = 200;
                              //settings.Settings.ShowFilterRow = true;
                              //settings.Settings.ShowFilterRowMenu = true;

                              //settings.CommandColumn.ShowClearFilterButton = true;
                              //settings.PreRender = (sender, e) => {
                              //    //((MVCxGridView)sender).StartEdit(1);
                              //};

                              //settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;

                          });

    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    } }
@grid.Bind(Model).GetHtml()


