
@using appSchool.ViewModels
@using appSchool.Models
@using appSchool.Repositories
@{
    ViewBag.Title = "Thought Master Info.";
}


<script src="@Url.Content("~/jsControllers/letterheadmasterController.js")" type="text/javascript"></script>


@if (PermissionFlag._AddFlag == false && PermissionFlag._DelFlag == false && PermissionFlag._ModFlag == false)
     {
    
               @Html.DevExpress().PopupControl(settings => {
                settings.Name = "popupclass";
                settings.PopupElementID = "popupArea";
                settings.AllowDragging = true;
                settings.ShowOnPageLoad = true;
                settings.Width=180;
                settings.Height = 100;
            
                settings.PopupHorizontalAlign =PopupHorizontalAlign.WindowCenter;
                settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
                settings.CloseAction = CloseAction.CloseButton;
                settings.HeaderText = "User Permission";
                settings.SetContent(() => {
                    ViewContext.Writer.Write(
                        " <p style=\"color:red;\"> Permission not granted </p>"
                    );
                    ViewContext.Writer.Write(
            "<div style=\"text-align:center;\" > <img   src=\"" + Url.Content("~/Images/permission.png") + "\" alt=\"Permission\" /> </div> "
                );
               });
            }).GetHtml()
     }


else
{

 @Html.DevExpress().Splitter(settings => {
    settings.Name = "LetterHeadMasterSplitter";
        settings.AllowResize = true;
        settings.Orientation = System.Web.UI.WebControls.Orientation.Vertical;
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Height = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.SeparatorVisible = true;
        settings.ClientSideEvents.PaneResized = "letterheadmasterController.splitterResized";

        settings.Panes.Add(subpane =>
        {
            subpane.Name = "LetterHeadMasterHeader";
            subpane.PaneStyle.CssClass = "contentPane";
            subpane.ShowCollapseBackwardButton = DefaultBoolean.True;
            subpane.ShowCollapseForwardButton = DefaultBoolean.True;
            subpane.MinSize = System.Web.UI.WebControls.Unit.Pixel(3);
            subpane.Size = System.Web.UI.WebControls.Unit.Pixel(35);
            subpane.PaneStyle.Paddings.Padding = System.Web.UI.WebControls.Unit.Pixel(3);
            subpane.SetContent(() =>
            {
                Html.RenderPartial("HeaderLetterHeadMaster");
            });
        });
    
    
      settings.Panes.Add(subpane =>
        {
            subpane.Name = "LetterHeadMasterBody";
            subpane.PaneStyle.CssClass = "contentPane";
            subpane.ShowCollapseBackwardButton = DefaultBoolean.True;
            subpane.ShowCollapseForwardButton = DefaultBoolean.True;
            subpane.ScrollBars = System.Web.UI.WebControls.ScrollBars.Auto;
            subpane.MinSize = System.Web.UI.WebControls.Unit.Pixel(100);
            subpane.Size = System.Web.UI.WebControls.Unit.Percentage(100);
            subpane.Separator.Visible = DefaultBoolean.True;
            subpane.Separator.SeparatorStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
            subpane.Separator.SeparatorStyle.BorderTop.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
            subpane.SetContent(() =>
            {
                Html.RenderPartial("ListLetterHeadMaster", (new UnitOfWork()).letterheadmasterService.GetLetterHedMasterList(byte.Parse(Session["CompID"].ToString()), byte.Parse(Session["BranchID"].ToString())));
                //Html.RenderPartial("NewsEventPartial");
            });
        });
    
    
    //settings.Panes.Add(subpane =>
    //   {
    //       subpane.Name = "EventListFooter";
    //       subpane.PaneStyle.CssClass = "contentPane";
    //       subpane.ScrollBars = System.Web.UI.WebControls.ScrollBars.Both;
    //       subpane.ShowCollapseBackwardButton = DefaultBoolean.True;
    //       subpane.ShowCollapseForwardButton = DefaultBoolean.True;
    //       subpane.MinSize = System.Web.UI.WebControls.Unit.Pixel(70);
    //       subpane.Size = System.Web.UI.WebControls.Unit.Percentage(20);
    //       subpane.Separator.Visible = DefaultBoolean.True;
    //       subpane.Separator.SeparatorStyle.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
    //       subpane.Separator.SeparatorStyle.BorderTop.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
    //       subpane.SetContent(() =>
    //       {
    //           //Html.RenderPartial("ListNewsEventMaster", (new UnitOfWork()).NewsEventMasterService.GetNewsEventMasterList(byte.Parse(Session["CompID"].ToString()), byte.Parse(Session["BranchID"].ToString())));
    //           //Html.RenderPartial("RegistrationTabs",(int)1);
    //       });
    //   });

   
    
    }).GetHtml()




}


@Html.DevExpress().LoadingPanel(
    settings => {
        settings.Name = "loadingPanelTopper";
        settings.Modal = true;
        settings.ContainerElementID = "";
        settings.Styles.LoadingDiv.BackColor = System.Drawing.Color.White;
    }).GetHtml()
